.list_container {
    flex: 0.7;
    height: 100%;
    padding-bottom: 50px;
}

.heading {
    font-size: 36px;
    margin: 10px;
}

.list_item_container {
    height: 100%;
    overflow-y: scroll;
    padding: 10px 10px;
}